extends layout

block content
    br
    br
    br
    br
    br
    br
    br
    br
    div(id="about")
        div(id="aboutcopy")
            h3 Supervised by highly-skilled facilitators, the camp offers an exclusive array of fine services and amenities to satisfy your outdoor needs as well as accommodations for a worthwhile and exciting stay.
            h1 "BUILDING CHARACTER THROUGH ADVENTURE"
    div(id="main")
        div(id="maincontent")
            div(id='rightcolumn')
                h6 CAMP ACTIVITIES
                ul(class="camp_act")
                    li(role="presentation")
                       a(href="#") Rappelling
                    li(role="presentation")
                        a(href="#") Wall Climbing
                    li(role="presentation")
                        a(href="#") Zipline
                    li(role="presentation")
                        a(href="#") Mudslide
                    li(role="presentation")
                        a(href="#") High Ropes
                    li(role="presentation")
                        a(href="#") J.E.S.T.
                    li(role="presentation")
                       a(href="#") Nature Walk
                    li(role="presentation")
                        a(href="#") Ropes And Obstacle Course
                    li(role="presentation")
                        a(href="#") Charcoal Briquetting
                    li(role="presentation")
                        a(href="#") Tyrolian
                    li(role="presentation")
                        a(href="#") Bonfire
                    li(role="presentation")
                       a(href="#") Spelunking
                    li(role="presentation")
                        a(href="#") Swift Water
                    li(role="presentation")
                        a(href="#") Water Trekking
                    li(role="presentation")
                        a(href="#") Rope Rescue
                    li(role="presentation")
                        a(href="#") Swimming
            div(id='blogsample')
            br
            h1 TAC Summer Treat!
            br
            br
            &nbsp;&nbsp;&nbsp;
            img(src="/images/summer.jpg") 
            br
            br
            h1 KOVEA OUTDOOR COOKFEST 2015
            br
            br
           
            img(src="/images/kovea.jpg",position: "absolute")
            
            br
            br

br

br

div(class="row")
    div(class="row")
        
        img(src="/images/facilities/rappell.jpg",class="img-responsive",alt="Responsive image")
        
        div(class="actDesc")
            <h1>Rappelling
            br
            <h4>Try our nerve-racking 50-footer Rappelling Tower where you can conquer your fear of heights with the full support of our well-trained facilitators. Built to specifications, our tower guarantees your safety.
        
            
            
            
            
            

div(class="row")
    div(class="row")
        img(src="/images/facilities/highropes.jpg",class="img-responsive",alt="Responsive image")
        div(class="actDescRight")
            <h1>Ropes & Obstacle Courses
            br
            <h4>Dare to try our Ropes and Obstacle Courses to test your stamina and stability in crossing different tricky paths.
        
            
            
            
           

div(class="row")
    div(class="row")
        img(src="/images/facilities/naturewalk.jpg",class="img-responsive",alt="Responsive image")
            
            
            
           
div(class="row")
    div(class="row")
        img(src="/images/facilities/jest.jpg",class="img-responsive",alt="Responsive image")
            
            
            
           
    div(class="row")
        img(src="/images/facilities/gps.jpg",class="img-responsive",alt="Responsive image")