extends layout

block content
    br
    br
    br
    br
    br
    br
    br

    div(id="label")
    div(class="labelTop")

        <h7>CAMP ACTIVITIES

    div(class="row")
        div(class="row")
            img(src="/images/facilities/rappell.jpg",class="img-responsive",alt="Responsive image")
            div(class="actDesc")
                h1 Rappelling
                br
                h4 Try our nerve-racking 50-footer Rappelling Tower where you can conquer your fear of heights with the full support of our well-trained facilitators. Built to specifications, our tower guarantees your safety.
        
    div(class="row")
        div(class="row")
            img(src="/images/facilities/highropes.jpg",class="img-responsive",alt="Responsive image")
            div(class="actDescRight")
                h1 Ropes & Obstacle Courses
                br
                h4 Dare to try our Ropes and Obstacle Courses to test your stamina and stability in crossing different tricky paths.
    
    div(class="row")
        div(class="row")
            img(src="/images/facilities/zipline.jpg",class="img-responsive",alt="Responsive image")
            div(class="actDesc")
                h1 Zipline
                br
                h4 Experience new challenge in Wall climbing where you can choose to set different climbing routes by following color-coded holds to measure your determination in reaching the top. Available in 20 feet and 40 feet walls.
        
    
    div(class="row")
        div(class="row")
            img(src="/images/facilities/wallclimbing.jpg",class="img-responsive",alt="Responsive image")
            div(class="actDescRight")
                h1 Wall Climbing
                br
                h4 Be thrilled to ride our 230-meter long Zip lines, the longest in the Province of Rizal, and our 90-meter, 3-short Zip Lines for a quick jaunt, both fully equipped with the highest standard of security for your safe yet exciting experience.
        


    div(class="row")
        img(src="/images/facilities/muslide.jpg",class="img-responsive",alt="Responsive image")

    div(class="row")
        div(class="row")
            img(src="/images/facilities/naturewalk.jpg",class="img-responsive",alt="Responsive image")
    
    div(class="row")
        div(class="row")
            img(src="/images/facilities/jest.jpg",class="img-responsive",alt="Responsive image")
    
    div(class="row")
        img(src="/images/facilities/gps.jpg",class="img-responsive",alt="Responsive image")

    div(class="row")
        img(src="/images/facilities/bonfire.jpg",class="img-responsive",alt="Responsive image")

    div(class="row")
        img(src="/images/facilities/highropes2.jpg",class="img-responsive",alt="Responsive image")


    div(id="about")
        div(id="aboutcopy")

            
            <h1><strong>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>
            <h8>Sun <h7>(0933) 437 3106 &nbsp;<h8>Globe <h7>(0915) 596 6179 &nbsp;<h8> Smart<h7> (0949) 863 7179 
            <br>
            <h8>inquiries<h7>@tanayadventurecamp.com

            