doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleHeader.css')
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')

  body
 
    div(id="sticky_navigation_wrapper")
        div(id="sticky_navigation")
            div(id="sticky_navigation_links")

                a(href="#") HOME
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                a(href="activities") ACTIVITIES
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="facility") FACILITY
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="team") OUR TEAM
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="contacts") CONTACTS

    div(id="head")

        div(id="logo")
            a(href='http://www.tanayadventurecamp.com')
                
                img(alt="Brand" src="/images/logo.png",border="0",style="float:left",margin-top:"-120px")

    block content

    div(id="about")
        div(id="aboutcopy")

            <h3>Supervised by highly-skilled facilitators, the camp offers an exclusive array of fine services and amenities to satisfy your outdoor needs as well as accommodations for a worthwhile and exciting stay.
            <h1>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>

    div(id="main")
        div(id="maincontent")

            div(id='rightcolumn')

                h4 CAMP ACTIVITIES

                ul(class="camp_act")
                    li(role="presentation")
                       a(href="#") Rappelling
                    li(role="presentation")
                        a(href="#") Wall Climbing
                    li(role="presentation")
                        a(href="#") Zipline
                    li(role="presentation")
                        a(href="#") Mudslide
                    li(role="presentation")
                        a(href="#") High Ropes
                    li(role="presentation")
                        a(href="#") J.E.S.T.
                    li(role="presentation")
                       a(href="#") Nature Walk
                    li(role="presentation")
                        a(href="#") Ropes And Obstacle Course
                    li(role="presentation")
                        a(href="#") Charcoal Briquetting
                    li(role="presentation")
                        a(href="#") Tyrolian
                    li(role="presentation")
                        a(href="#") Bonfire
                    li(role="presentation")
                       a(href="#") Spelunking
                    li(role="presentation")
                        a(href="#") Swift Water
                    li(role="presentation")
                        a(href="#") Water Trekking
                    li(role="presentation")
                        a(href="#") Rope Rescue
                    li(role="presentation")
                        a(href="#") Swimming
               
               

            div(id='blogsample')
            br
            
            <h1>TAC Summer Treat!
            br
            br

            &nbsp;&nbsp;&nbsp;
            img(src="/images/summer.jpg") 
            br
            br
            <h1>KOVEA OUTDOOR COOKFEST 2015
            br
            br
           
            img(src="/images/kovea.jpg",position: "absolute")
            
            br
            br
            


div(id="footerImage")

div(id="footerAdd") TANAY ADVENTURE CAMP. All Rights Reserved.


           