extends layout

block content
    br
    br
    br
    br
    br
    br
    br
    
    div(class="container-fluid")
        div(id="label")
        div(class="labelTop")

            <h7>CONTACT US
    br
    br
    div(class="container-fluid" style="padding-left: 15%; padding-right: 15%;")
        div(class="row")
            div(class="col-md-6")
                div(class="row")
                    div(class="col-md-3")
                        h4 Address
                    div(class="col-md-6")
                        h4 Sitio Malaanonang Brgy. Sampaloc Tanay, Rizal
                div(class="row")
                    div(class="col-md-3")
                        h4 Contac Nos
                    div(class="col-md-6")
                        h4 Sun (0933) 437 3106 
                        h4 Globe (0915) 596 6179 
                        br
                        h4 Smart (0949) 863 7179 
                div(class="row")
                    div(class="col-md-3")
                        h4 E-mail
                    div(class="col-md-6")
                        h4 inquiries@tanayadventurecamp.com

            div(class="col-md-6")
                img(src="/images/map.png",class="img-responsive",alt="TAC MAP")