extends layout

block content
    br
    br
    br
    br
    br
    br
    br
    div(id="label")
    div(class="labelTop")

        <h7>ACCOMMODATION | RATES

    div(class="container" class="centered")
        div(class="row" class="centered")
                <h2><strong>RATES FOR WALK - IN
        div(class="row")
            div(class="col-md-6" class="centered",style="background-color:#F2F2F2;" )
                <h3>ENTRANCE FEE – P 50.00/pax
                <h4>(8:00AM – 5:00PM only)

            div(class="col-md-6" class="centered",style="background-color:#F2F2F2;")
                <h3>ADDITIONAL FOR OVERNIGHT STAY
                <h4>P 100.00/pax (until 12:00NN only)
        <hr>
    <div class="container">

    <!-- Function hall -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/barracks1.jpg" alt="..." )

        div(class="col-md-5")
            <h3><strong>Function Hall
            <h4>&#8369;25,000
            <h4>8:00 AM - 8:00PM
            <h4>Succeeding hour 21,000/Hour
            <p>
            <p>The “Maharlika” Multipurpose Hall is the place to conduct different types of gatherings, as well as indoor games. Fully-equipped with movable stage and sound system, the hall can accommodate up to 500 persons.
        <!-- /.row -->

    <hr>

    <!-- Camping ares -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/F_tent.jpg" alt="..." )


        div(class="col-md-5")
            <h3><strong>Camping Areas
            <h4>&#8369;100.00/tent
            <h4>&#8369;350.00/tent (good for 6-7pax)
            <p>
            <p>The “Maharlika” Multipurpose Hall is the place to conduct different types of gatherings, as well as indoor games. Fully-equipped with movable stage and sound system, the hall can accommodate up to 500 persons.
        <!-- /.row -->

    <hr>

    <!-- Barracks I -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/barracks1.jpg" alt="..." )


        div(class="col-md-5")
            <h3><strong>Barracks I
            <h4> &#8369;200.00/pax
            <h4>50pax – minimum
            <h4>Succeeding night P150.00/overnight
            <p>
            <p>Sleeping quarters are also available within the camp for those who are not into outdoor stay. The dormitory can accommodate up to 200 persons.
        <!-- /.row -->

    <hr>

    <!-- Barracks II -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/F_barracks2.jpg" alt="..." )


        div(class="col-md-5")
            <h3><strong>Barracks II
            <h4> &#8369;200.00/pax
            <h4>50pax – minimum
            <h4>Succeeding night P150.00/overnight
            <p>
            <p>Sleeping quarters are also available within the camp for those who are not into outdoor stay. The dormitory can accommodate up to 200 persons.
     
        <!-- /.row -->

    <hr>

    <!-- Log House (2nd Floor) -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/F_logHouse.jpg" alt="..." )


        div(class="col-md-5")
            <h3><strong>Log House (2nd Floor)
            <h4>&#8369;3,000.00 + entrance fee
            <h4>10pax – maximum
            <h4>Check-in 2:00pm – Check-out 12noon (the next day)
            <p>
            <p>Some Info for  Log house
        <!-- /.row -->

    <hr>

    <!-- Nipa Hut Cottage -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Nipa Hut Cottage
            <h4> &#8369;600.00/day
            <h4>10pax – 12pax
            <p>
            <p>Some Info for nipa hut
        <!-- /.row -->

    <hr>

    <!-- Viewing Deck -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="/images/ammenities/F_pool.jpg" alt="...")


        div(class="col-md-5")
            div(class="row")
                div(class="col-md-5")
                    <h3><strong>Swimming Pool
                    <h4>(8:00am – 5:00pm)
                    <h4>&#8369;150.00 (Adult)
                    <h4>P100.00 (Kids below 4ft.)
                div(class="col-md-5")
                    br
                    br
                    <h4><Strong>Night Swimming
                    <h4>(8:00am – 5:00pm)
                    <h4>&#8369;200.00 (Adult)
                    <h4>P150.00 (Kids below 4ft.)
            <p>
            <p>Some Info for pool
        <!-- /.row -->

    <hr>

    <!-- Swimming Pool -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Viewing Deck
            <h4>&#8369;3,000.00/day + entrance fee
            <h4>w/ portable speaker and microphone
            <h4>Succeeding night P150.00/overnight
            <p>
            <p>Some Info for view deck
        <!-- /.row -->

    <hr>

    <!-- Badminton -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Badminton
            <h4>&#8369;30.00/head per hour
            <h4>&#8369;100.00 – Shuttlecockr
            <h4>&#8369;50.00/hour - Racket
            <p>
            <p>Some Info for badmintin
        <!-- /.row -->

    <hr>

    <!-- Sound System -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Sound System
            <h4>&#8369;1,500.00/day + 500.00/succeeding day
            <p>
            <p>Some Info for sound system
        <!-- /.row -->


    <hr>

    <!-- Projector -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Projector
            <h4>&#8369;1,000.00/day
            <h4>8:00 AM - 8:00PM
            <h4>Succeeding hour 21,000/Hour
            <p>
            <p>Some Info for  Projector
        <!-- /.row -->

    <hr>

    <!-- Tables and Chairs -->
    div(class="row")
        div(class="col-md-7")
            a(href="#")
                img(class="img-responsive" src="http://placehold.it/700x300" alt="")


        div(class="col-md-5")
            <h3><strong>Tables and Chairs
            <h4>&#8369;25,000 Pesos
            <h4>P300.00(1 Long Table + 10 Chairs)
            <h4>P150.00 (1 Square + 6 Chairs)
            <p>
            <p>Some Info for  tables anf chairs
        <!-- /.row -->

    <hr>
    div(id="aboutcopy")

            
        <h1><strong>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>
        <h8>Sun <h7>(0933) 437 3106 &nbsp;<h8>Globe <h7>(0915) 596 6179 &nbsp;<h8> Smart<h7> (0949) 863 7179 

        <p><h8>inquiries<h7>@tanayadventurecamp.com

        
  