extends layout

block content
    br 
    br
    br
    br
    br
    br
    br

    div(id="randomimages")
        div(id='pic1', style='background-image:url(#)')
            img(alt="Brand" src="/images/pic_16.jpg")
        div(id='pic2', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_17.jpg")
        div(id='pic3', style='background-image:url#);')
            img(alt="Brand" src="/images/pic_18.jpg")
        div(id='pic4', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_19.jpg")
        div(id='pic5', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_20.jpg")
        div(id='pic6', style='background-image:url(#));')
            img(alt="Brand" src="/images/pic_21.jpg")
        div(id='pic7', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_22.jpg")
        div(id='pic8', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_1.jpg")
        div(id='pic9', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_2.jpg")
        div(id='pic10', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_23.jpg")
        div(id='pic11', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_5.jpg")
        div(id='pic12', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_6.jpg")
        div(id='pic13', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_3.jpg")
        div(id='pic14', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_4.jpg")
        div(id='pic15', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_8.jpg")
        div(id='pic16', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_7.jpg")
        div(id='pic17', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_9.jpg")
        div(id='pic18', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_11.jpg")
        div(id='pic19', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_24.jpg")
        div(id='pic20', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_10.jpg")
        div(id='pic21', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_12.jpg")
        div(id='pic22', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_15.jpg")
        div(id='pic23', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_13.jpg")
        div(id='pic24', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_14.jpg")
        div(id='pic25', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_25.jpg")
        div(id='pic26', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_26.jpg")
        div(id='pic27', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_27.jpg")

    br
    br
    br

    <!-- Page Content -->
    div(class="container")

        div(class="row")

            <!-- Blog Post Content Column -->
            div(class="col-lg-8")

                div(class="row")

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1 style="color:#4e4739"><strong> TAC Summer Treat!
                    <!-- Date/Time -->
                    <h6><span class="glyphicon glyphicon-time"> Posted on datePosted

                    <hr>

                    <!-- Preview Image -->
                    img(class="img-responsive" src="/images/summer.jpg" alt="" align="middle")
                    <hr>

                div(class="row")

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1 style="color:#4e4739"><strong> KOVEA OUTDOOR COOKFEST 2015
                    <!-- Date/Time -->
                    <h6><span class="glyphicon glyphicon-time"> Posted on datePosted

                    <hr>

                    <!-- Preview Image -->
                    img(class="img-responsive" src="/images/kovea.jpg" alt="" style="margin-left:auto; margin-right:auto")

                    <hr>

                    <!-- Post Content -->
                    <p class="lead">blah Blah blah?
                    <p>joine us lgkadlkfnad;kfnadlkvna;dlvknafvlknfkjbvfbakfjvna;kvna;dklvna;dvlknad;vlkna;vlknad;vlknad;vlkandv;ladnva;dlkvna;ldvkna;ldvna;dvklna;dklvn
                    <hr>

            <!-- Blog Sidebar Widgets Column -->
            div(class="col-md-4")

                <!-- Blog Search Well -->
                div(class="well",style="background-color:#F2F2F2;" )
                    <h4>Search
                    div(class="input-group")
                        input(type="text" class="form-control")
                        span(class="input-group-btn")
                            button(class="btn btn-default" type="button")
                                span(class="glyphicon glyphicon-search")
                    <!-- /.input-group -->
                <!-- Blog Categories Well -->
                div(class="well",style="background-color:#F2F2F2;" )
                    <h4> <strong>CAMP ACTIVITIES
                    div(class="row")
                        
                        ul(class="rightcolumn")
                            li(role="presentation")
                               a(href="#") Rappelling
                            li(role="presentation")
                                a(href="#") Wall Climbing
                            li(role="presentation")
                                a(href="#") Zipline
                            li(role="presentation")
                                a(href="#") Mudslide
                            li(role="presentation")
                                a(href="#") High Ropes
                            li(role="presentation")
                                a(href="#") J.E.S.T.
                            li(role="presentation")
                               a(href="#") Nature Walk
                            li(role="presentation")
                                a(href="#") Ropes And Obstacle Course
                            li(role="presentation")
                                a(href="#") Charcoal Briquetting
                            li(role="presentation")
                                a(href="#") Tyrolean
                            li(role="presentation")
                                a(href="#") Bonfire
                            li(role="presentation")
                               a(href="#") Spelunking
                            li(role="presentation")
                                a(href="#") Swift Water
                            li(role="presentation")
                                a(href="#") Water Trekking
                            li(role="presentation")
                                a(href="#") Rope Rescue
                            li(role="presentation")
                                a(href="#") Swimming
                    <!-- /.row -->
                <!-- Side Widget Well -->
                div(class="well",style="background-color:#F2F2F2;" )
                    <h6>Download Rates
                    div(class="caption" class="centered")
                        a(href="/images/file/TAC_Services-Rates.pdf" download="/images/file/TAC_Services-Rates.pdf")
                            img(src="/images/AdobePDFicon.png")
                
                <!-- Side Widget Well -->
                div(class="well",style="background-color:#F2F2F2;" )
                    <h6>Facebook
                    
                <!-- Side Widget Well -->
                div(class="well",style="background-color:#F2F2F2;" )
                    <h6>Social Media
                    
        <!-- /.row -->

        <hr>

    div(id="about")
        div(id="aboutcopy")

            
            <h1><strong>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>
            <h8>Sun <h7>(0933) 437 3106 &nbsp;<h8>Globe <h7>(0915) 596 6179 &nbsp;<h8> Smart<h7> (0949) 863 7179 
            <p><h8>inquiries<h7>@tanayadventurecamp.com

            

            
