extends layout

block content
    br 
    br
    br
    br
    br
    br
    br
    br

    div(id="randomimages")
        div(id='pic1', style='background-image:url(#);')
            <h1>"PIC_1"
        div(id='pic2', style='background-image:url(#);')
            <h1>"PIC_2"
        div(id='pic3', style='background-image:url#);')
            <h1>"PIC_3"
        div(id='pic4', style='background-image:url(#);')
            <h1>"PIC_4"
        div(id='pic5', style='background-image:url(#);')
            <h1>"PIC_5"
        div(id='pic6', style='background-image:url(#));')
            <h1>"PIC_6"
        div(id='pic7', style='background-image:url(#);')
            <h1>"PIC_7"
        div(id='pic8', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_1.jpg")
        div(id='pic9', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_2.jpg")
        div(id='pic10', style='background-image:url(#);')
            <h1>"PIC_10"
        div(id='pic11', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_5.jpg")
        div(id='pic12', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_6.jpg")
        div(id='pic13', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_3.jpg")
        div(id='pic14', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_4.jpg")
        div(id='pic15', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_8.jpg")
        div(id='pic16', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_7.jpg")
        div(id='pic17', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_9.jpg")
        div(id='pic18', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_11.jpg")
        div(id='pic19', style='background-image:url(#);')
            <h1>"PIC_19"
        div(id='pic20', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_10.jpg")
        div(id='pic21', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_12.jpg")
        div(id='pic22', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_15.jpg")
        div(id='pic23', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_13.jpg")
        div(id='pic24', style='background-image:url(#);')
            img(alt="Brand" src="/images/pic_14.jpg")
        div(id='pic25', style='background-image:url(#);')
            <h1>"PIC_25"
        div(id='pic26', style='background-image:url(#);')
            <h1>"PIC_26"
        div(id='pic27', style='background-image:url(#);')
            <h1>"PIC_27"