doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleHeader.css')
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')

  body
    div(id="top_nav")
        div(id="center_nav")

                a(href="/") HOME
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                a(href="activities") ACTIVITIES
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="facilities") FACILITY
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="team") OUR TEAM
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
                a(href="contactus") CONTACTS
    block content
    include footer