doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleHeader.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')

  body
    div(class="conainer-fliud")
        div(class="row")
            div(id="top_nav")
                div(id="center_nav")
                        a(href="/") HOME
                        &nbsp;&nbsp;
                        a(href="activities") ACTIVITIES & FACILITIES
                        &nbsp;&nbsp; 
                        a(href="facilities") ACCOMODATION & RATES
                        &nbsp;&nbsp; 
                        a(href="theteam") OUR TEAM
                        &nbsp;&nbsp;   
                        a(href="contactus") CONTACTS
    block content
    include footer