doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleHeader.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')

  body
   |<div id="fb-root"></div>
   |<script>
   |window.fbAsyncInit = function() {
   |  FB.init({
   |    appId      : '1580209102219104',
   |    xfbml      : true,
   |    version    : 'v2.3'
   |  });
   |};
   |(function(d, s, id) {
   |var js, fjs = d.getElementsByTagName(s)[0];
   |if (d.getElementById(id)) return;
   |js = d.createElement(s); js.id = id;
   |js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
   |fjs.parentNode.insertBefore(js, fjs);
   |}(document, 'sScript', 'facebook-jssdk'));</script>
   div(class="conainer-fliud")
        div(class="row")
            div(id="top_nav")
                div(id="center_nav")
                        a(href="/") HOME
                        &nbsp;&nbsp;
                        a(href="activities") ACTIVITIES & FACILITIES
                        &nbsp;&nbsp; 
                        a(href="facilities") ACCOMODATION & RATES
                        &nbsp;&nbsp; 
                        a(href="theteam") OUR TEAM
                        &nbsp;&nbsp;   
                        a(href="contactus") CONTACTS
    block content
    include footer
