doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styleHeader.css')
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')
    script(src='/javascripts/lib/jquery/dist/jquery.js')
    script(src='/javascripts/lib/bootstrap/dist/js/bootstrap.js')

  body
    |<nav class="navbar navbar-default navbar-static-top" role="navigation" id="topnavbar">
    div(class="container-fluid")

        div(class="navbar-header")
            img(alt="Brand" src="/images/logo.png")

        div(class="nav nav-pills")    
            div(class="col-s-2")
            div(class="col-sm-6")
                ul(class="nav nav-pills")
                    li(role="#",class="active")
                       a(href="#") HOME
                    li(role="presentation")
                        a(href="http://www.facebook.com") ACTIVITIES
                    li(role="presentation")
                        a(href="http://www.facebook.com/joatham") FACILITY
                    li(role="presentation")
                        a(href="http://www.facebook.com/joatham") OUR TEAM
                    li(role="presentation")
                        a(href="http://www.facebook.com/joatham") CONTACTS

            form(class="navbar-form navbar-right",role="search")
                div(class="form-group")
                   input(type="text",class="form-control",placeholder="Search")
                   button(type="submit",class="btn btn-default") Submit	

    |</nav>
    block content