extends layout

block content
    br
    br
    br
    br
    br
    br
    br

    <!-- Full Page Image Background Carousel Header -->
    header(id="myCarousel" class="carousel slide")
        <!-- Indicators -->
        ol(class="carousel-indicators")
            li(data-target="#myCarousel" data-slide-to="0" class="active")
            li(data-target="#myCarousel" data-slide-to="1")
            li(data-target="#myCarousel" data-slide-to="2")

        <!-- Wrapper for Slides -->
        div(class="carousel-inner")
            div(class="item active")
                <!-- Set the first background image using inline CSS below. -->
                div(class="fill" style="background-image:url('/images/team/team_1.jpg');")
                    div(class="carousel-caption")
                        <h4>Ours is a group of dynamic and professionally trained facilitators, with established track record in leadership training, and knowledgeable in terms of ropes, hardware, mechanical advantage, water operation and emergency medical and rescue services. So you can be definitely assured of your safety, since it is one of our primary objectives aside from giving you the most unforgettable adventure of your life.


            div(class="item")
                <!-- Set the second background image using inline CSS below. -->
                div(class="fill" style="background-image:url('/images/team/team_2.jpg');")
                    div(class="carousel-caption")
                        <h4>Ours is a group of dynamic and professionally trained facilitators, with established track record in leadership training, and knowledgeable in terms of ropes, hardware, mechanical advantage, water operation and emergency medical and rescue services. So you can be definitely assured of your safety, since it is one of our primary objectives aside from giving you the most unforgettable adventure of your life.

            div(class="item")
                <!-- Set the third background image using inline CSS below. -->
                div(class="fill" style="background-image:url('/images/team/team_3.jpg');")


        <!-- Controls -->
        a(class="left carousel-control" href="#myCarousel" data-slide="prev")
            span(class="icon-prev")
        a(class="right carousel-control" href="#myCarousel" data-slide="next")
            span(class="icon-next")

    br

    
    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/01.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/02.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/03.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/04.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description


                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/05.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/06.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
     
    
    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/07.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/08.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/09.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/10.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/11.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/12.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/13.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/14.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/15.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/16.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/17.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/18.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
  
  
  
    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/19.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/20.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/21.jpg" alt="...")
                        div(class="caption" class="centered")
                            <h4,style="color;#FD542F;"><strong>Juan Dela Cruz
                            <h6><strong>Facilitator some words

                            <h6>Something Description

        div(id="aboutcopy")

            
            <h1><strong>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>
            <h8>Sun <h7>(0933) 437 3106 &nbsp;<h8>Globe <h7>(0915) 596 6179 &nbsp;<h8> Smart<h7> (0949) 863 7179 

            <p><h8>inquiries<h7>@tanayadventurecamp.com
 