extends layout

block content
    br
    br
    br
    br
    br
    br
    br




    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/01.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/02.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/03.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/04.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/05.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/06.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd
     
    
    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/07.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/08.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/09.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/10.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/11.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/12.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd

    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/13.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/14.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/15.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd
        br

        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/16.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/17.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/18.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd
  
  
  
    div(class="container")
    
        div(class="container-fluid")

            div(class="row")
                div(class="col-md-4")
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/19.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz
                            <h4>Facilitator some words
                            <p>fsd

                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;" )
                        img(src="/images/team/20.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 1
                            <h4>Facilitator some words
                            <p>fsd
 
                div(class="col-md-4") 
                    div(class="thumbnail",style="background-color:#80d0e5;")
                        img(src="/images/team/21.jpg" alt="...")
                        div(class="caption")
                            <h3>Juan Dela Cruz 2
                            <h4>Facilitator some words
                            <p>fsd

        div(id="aboutcopy")

            
            <h1><strong>"BUILDING CHARACTER THROUGH ADVENTURE"<br/>
            <h8>Sun <h7>(0933) 437 3106 &nbsp;<h8>Globe <h7>(0915) 596 6179 &nbsp;<h8> Smart<h7> (0949) 863 7179 
            <br>
            <h8>inquiries<h7>@tanayadventurecamp.com
 