extends layout

block content
    br 
    br
    br
    br
    br
    br
    br
    br

    div(id="randomimages")
        div(id='pic1', style='background-image:url(#);')
            <h1>"PIC_1"
        div(id='pic2', style='background-image:url(#);')
            <h1>"PIC_2"
        div(id='pic3', style='background-image:url#);')
            <h1>"PIC_3"
        div(id='pic4', style='background-image:url(#);')
            <h1>"PIC_4"
        div(id='pic5', style='background-image:url(#);')
            <h1>"PIC_5"
        div(id='pic6', style='background-image:url(#));')
            <h1>"PIC_6"
        div(id='pic7', style='background-image:url(#);')
            <h1>"PIC_7"
        div(id='pic8', style='background-image:url(#);')
            <h1>"PIC_8"
        div(id='pic9', style='background-image:url(#);')
            <h1>"PIC_9"
        div(id='pic10', style='background-image:url(#);')
            <h1>"PIC_10"
        div(id='pic11', style='background-image:url(#);')
            <h1>"PIC_11"
        div(id='pic12', style='background-image:url(#);')
            <h1>"PIC_12"
        div(id='pic13', style='background-image:url(#);')
            <h1>"PIC_13"
        div(id='pic14', style='background-image:url(#);')
            <h1>"PIC_14_A"
        div(id='pic15', style='background-image:url(#);')
            <h1>"PIC_15_B"
        div(id='pic16', style='background-image:url(#);')
            <h1>"PIC_16"
        div(id='pic17', style='background-image:url(#);')
            <h1>"PIC_17"
        div(id='pic18', style='background-image:url(#);')
            <h1>"PIC_18"
        div(id='pic19', style='background-image:url(#);')
            <h1>"PIC_19"
        div(id='pic20', style='background-image:url(#);')
            <h1>"PIC_20"
        div(id='pic21', style='background-image:url(#);')
            <h1>"PIC_21"
        div(id='pic22', style='background-image:url(#);')
            <h1>"PIC_22"
        div(id='pic23', style='background-image:url(#);')
            <h1>"PIC_23"
        div(id='pic24', style='background-image:url(#);')
            <h1>"PIC_24"
        div(id='pic25', style='background-image:url(#);')
            <h1>"PIC_25"
        div(id='pic26', style='background-image:url(#);')
            <h1>"PIC_26"
        div(id='pic27', style='background-image:url(#);')
            <h1>"PIC_27"

    div(class="container-fluid")
       div(class="jumbotron")
           <h2>"BUILDING CHARACTER THROUGH ADVENTURE"

        div(class="row")
            div(class="col-sm-4")
                <h3>Column 1
                <p>ACTTIVITIES

            div(class="col-sm-4")
                <h3>SIDE RIGHT PANEL
                <p>NEWS LINKS ADVERTISE ETC
